@import "tailwindcss";

:root {
  /* Gray - dark */
  --gray-dark-1: #121212;
  --gray-dark-2: #1E1E1E;
  --gray-dark-3: #292929;
  --gray-dark-4: #353535;
  --gray-dark-5: #424242;
  --gray-dark-6: #4E4E4E;
  --gray-dark-7: #5B5B5B;
  --gray-dark-8: #696969;
  --gray-dark-9: #989898;
  --gray-dark-10: #CACACA;

  /* Gray - light */
  --gray-light-1: #F1F1F1;
  --gray-light-2: #E3E3E3;
  --gray-light-3: #D5D5D5;
  --gray-light-4: #C7C7C7;
  --gray-light-5: #A8A8A8;
  --gray-light-6: #8A8A8A;
  --gray-light-7: #6D6D6D;
  --gray-light-8: #515151;
  --gray-light-9: #373737;
  --gray-light-10: #1E1E1E;

  /* Greens */
  --green: #22A121;
  --green-dark: #1D8C1D;
  --green-light-03: #26B625;
  --green-light-02: #78E378;
  --green-light-01: #D7FDD7;

  /* Oranges */
  --orange: #FDA018;
  --orange-dark: #F89402;
  --orange-light-03: #FDAA30;
  --orange-light-02: #FEC97C;
  --orange-light-01: #FFECD1;

  /* Reds */
  --red: #D8201D;
  --red-dark: #C21D1A;
  --red-light-03: #E32F2B;
  --red-light-02: #F29E9C;
  --red-light-01: #FFEBEB;

  --background: var(--gray-light-1);
  --foreground: var(--gray-dark-10);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist);
  /* Gray - dark */
  --color-gray-dark-1: var(--gray-dark-1);
  --color-gray-dark-2: var(--gray-dark-2);
  --color-gray-dark-3: var(--gray-dark-3);
  --color-gray-dark-4: var(--gray-dark-4);
  --color-gray-dark-5: var(--gray-dark-5);
  --color-gray-dark-6: var(--gray-dark-6);
  --color-gray-dark-7: var(--gray-dark-7);
  --color-gray-dark-8: var(--gray-dark-8);
  --color-gray-dark-9: var(--gray-dark-9);
  --color-gray-dark-10: var(--gray-dark-10);
  /* Gray - light */
  --color-gray-light-1: var(--gray-light-1);
  --color-gray-light-2: var(--gray-light-2);
  --color-gray-light-3: var(--gray-light-3);
  --color-gray-light-4: var(--gray-light-4);
  --color-gray-light-5: var(--gray-light-5);
  --color-gray-light-6: var(--gray-light-6);
  --color-gray-light-7: var(--gray-light-7);
  --color-gray-light-8: var(--gray-light-8);
  --color-gray-light-9: var(--gray-light-9);
  --color-gray-light-10: var(--gray-light-10);
  /* Greens */
  --color-green: var(--green);
  --color-green-dark: var(--green-dark);
  --color-green-light-03: var(--green-light-03);
  --color-green-light-02: var(--green-light-02);
  --color-green-light-01: var(--green-light-01);
  /* Oranges */
  --color-orange: var(--orange);
  --color-orange-dark: var(--orange-dark);
  --color-orange-light-03: var(--orange-light-03);
  --color-orange-light-02: var(--orange-light-02);
  --color-orange-light-01: var(--orange-light-01);
  /* Reds */
  --color-red: var(--red);
  --color-red-dark: var(--red-dark);
  --color-red-light-03: var(--red-light-03);
  --color-red-light-02: var(--red-light-02);
  --color-red-light-01: var(--red-light-01);
  --color-success: var(--green);
  --color-warning: var(--orange);
  --color-danger: var(--red);
  /* Background gradients */
  --background-image-linear-gradient-footer: linear-gradient(1.33deg, rgba(18, 18, 18, 0.2) 55.27%, rgba(76, 76, 76, 0.2) 98.28%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #08090A;
    --foreground: var(--gray-light-1);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist), sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: inset 0 0 8px rgba(var(--background), 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
  border-radius: 30px;
  opacity: 0.6;
}

/* Tech */
@keyframes borderTravel {
  0% {
    top: 0;
    left: 0;
    width: 60px;
    height: 1px;
  }

  25% {
    top: 0;
    left: calc(100% - 60px);
    width: 60px;
    height: 1px;
  }

  25.01% {
    top: 0;
    left: calc(100% - 1px);
    width: 1px;
    height: 60px;
  }

  50% {
    top: calc(100% - 60px);
    left: calc(100% - 1px);
    width: 1px;
    height: 60px;
  }

  50.01% {
    top: calc(100% - 1px);
    left: calc(100% - 60px);
    width: 60px;
    height: 1px;
  }

  75% {
    top: calc(100% - 1px);
    left: 0;
    width: 60px;
    height: 1px;
  }

  75.01% {
    top: calc(100% - 60px);
    left: 0;
    width: 1px;
    height: 60px;
  }

  100% {
    top: 0;
    left: 0;
    width: 1px;
    height: 60px;
  }
}

.tech-card-border {
  position: relative;
  border-radius: 0.75rem;
  padding: 1px;
  overflow: hidden;
  background: var(--gray-dark-3);
}

.tech-card-border::before {
  content: '';
  position: absolute;
  background: radial-gradient(50% 19350% at 50% 50%, #B8B8B8 0%, #292929 100%);
  z-index: 1;
  animation: borderTravel 10s linear infinite;
}

.tech-card-border-0::before {
  animation-delay: 0s;
}

.tech-card-border-1::before {
  animation-delay: -3.33s;
}

.tech-card-border-2::before {
  animation-delay: -6.66s;
}